<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "tn.tik.radio"
    versionCode = "10"
    version     = "1.0.0" >
  <name>Radio @ Tunisia</name>
  <description>Listen to live Tunisia radios streaming with best audio quality</description>
  <author href="https://tik.tn" email="contact.tik.tn@gmail.com">
      Tik.tn
  </author>
  <icon src="imgs/logo-512x512.png" />

  <platform name="ios" />
  <platform name="android" />
  <platform name="winphone" />

  <content src="index.html" />

  <!--<preference name="Fullscreen" value="true" />-->
  <preference name="BackgroundColor" value="0x101F24ff"/>

  <plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" />
  <splash src="imgs/tik-1024x1024.png" />

  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
</widget>
